body {
    background-attachment: fixed;
    background-image: linear-gradient(#441166, magenta);
    color: #c2c1f7;
    font-family: 'Courier New', Courier, monospace;
}
div div {
    text-align: center;
}
img {
    border-color: #2a0e3d;
    border-style: solid;
    border-radius: 10px;
}
.picture {
    width: 500px;
}
.obrót {
    animation-duration: 5s;
    animation-name: example;
    transform: rotate(60deg);
    width: 500px;
}


/* ---------------------------------------------------------- */
/* The animation code */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: greenyellow;}
    75%  {background-color: blue;}
}
  
/* The element to apply the animation to */
.example_div {
    text-align: center;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-color: red;
    color: black;
    height: 100px;
    width: 100px;
} 