body {
    background-attachment: fixed;
    background-image: linear-gradient(blueviolet, skyblue);
    color: #c2c1f7;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-style: italic;
}