a:link {
    background-color: #c5a6fd;
    border-color: #7637a0;
    border-radius: 5px;
    border-style: solid;
    border-width: inherit;
    color: rgb(139, 0, 219);
    display: inline-block;
    padding: 3px;
    text-decoration: none;
}
a:visited {
    background-color: transparent;
    border-color: #532075;
    color: #270f19;
}
body {
    background-attachment: fixed;
    background-image: linear-gradient(blueviolet, skyblue);
    color: #e0dff8;
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
}
h1 {
    color: white;
    font-style: italic;
}
.content-box {
    background-color: #ffffff1f;
    border-color: white;
    border-radius: 10px;
    border-style: dotted;
    border-width: 1px;
    box-sizing: border-box;
    margin: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    text-align: center;
    width: 40%;
}
.flex-container {
    display: flex;
    flex-direction: row;    
}