body {
    background-color: grey;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-overflow: ellipsis;
    width: fit-content;
}
h1 {
    font-style: italic;
}
header {
    
}